@keyframes turnToWhite{
    100% {
      color: white;
    }
  }

.bigLetters{
    font-size: 50vw;
    font-family: bowlby;
    font-weight: bold;
    color: $fonts;
    animation: turnToWhite 3s 1s forwards;
    overflow: hidden;
    position: relative;
    top: 33vh;
    // margin-bottom: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__letter{
      position: relative;
      top: 3vh;
        line-height: .4;
        text-transform: uppercase;
    }
}