#projectList{
    margin-top: 300px;
    margin-bottom: 400px;
   
    ul{
        list-style-type: none;
        transform: rotate(-5deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10vh;
        @include responsive(max, map-get($breakpoints, "desktop")){
            transform: rotate(0);
        }
        & li{
            border: 2px solid $bg;
            background-color: $fonts;
            width: 200%;
            position: relative;
            right: 50%;
            text-align: center; 
            z-index: 0;
            transition: all 100ms linear;
            @include responsive(max, map-get($breakpoints, "desktop")){
                position: relative;
                right: 0;
                width: 100%;
            }
            &:hover + .preview{
                visibility: visible;
                opacity: 1;
                height: 44vh;
                @include responsive(max, map-get($breakpoints, "hires")){
                    height: 30vh;
                }
            }
        }
        & .preview{
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;
            height: 1px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            & .description {
                font-family: candal;
                font-size: 2.5vw;
                color: $bg;
                margin-left: 4%;
                display: flex;
                align-items: center;
                @include responsive(max, map-get($breakpoints, "desktop")){
                font-size: 3vh;
                }
            }
            & video {
                border: 25px solid $bg;
                @include responsive(max, map-get($breakpoints, "desktop")){
                    display: none;
                }
            }
            & img {
                border: 25px solid $bg;
                @include responsive(max, map-get($breakpoints, "desktop")){
                    display: none;
                }
            }
        }
        & li a{ 
                // margin-left: 500px;
                font-family: candal;
                text-transform: uppercase;
                font-size: calc(30px + 4vw);
                font-weight: bold;
                color: $bg;                
            }
        
    }
}